.footerBox {
	width: 100%;
	height: auto;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #4f4f4f;
	margin-top: 4em;
}

.infoBox {
	text-align: center;
	width: 75%;
	margin: auto;
}

.infoBoxUl {
	height: 5em;
	width: 22em;
	margin:auto;
	text-align: left;
	
}

.infoBoxUl ul {
	height: 100%;
}

.infoBoxUl li {
	display: inline-block;
		text-align: left;
		color: #fff;
}

.infoBoxUl li:first-child {
	height: 100%;
}

.infoBoxUl li:last-child {
	transform:translateY(-1.25em);
	-webkit-transform:translateY(-1.25em);
}

.infoBoxUl li:last-child p:first-child {
	font-size: 1.4em;
}

.infoBoxUl li:last-child p {
	text-align: left;
}

.infoBoxUl ul li img {
	height: 100%;
}

@media all and (min-width: 750px) {
	.infoBoxUl {
		display: inline-block;
		width: 24em;

	}


	.infoBox {
		width: 50em;
		margin: auto;
	}

	.right {
		text-align: right;
	}

	.imgRight {
		float: right;
		transform: translateY(-2em);
		-webkit-transform:translateY(-2em);
	}

	.textLeft p {
		text-align: right !important;
	}
}

/*.infoBox {
	width: 85%;
	max-width: 77em;
	height: 6em;
	margin: auto;
	text-shadow: 0 1px 0 #AAAAAA;
}

.div {
	margin: auto;
	width: 31em;
	height: 100%;
}

.div2 {
	margin: auto;
	width: 31em;
	height: 100%;
}

.infoImgLeft {
	width: 50%;
	max-width: 6em;
	height: 100%;
	float: left;
	text-align: right;
}

.infoImgLeft img {
	width: auto;
	height: 100%;
}

.infoTextLeft {
	width: 50%;
	max-width: 16em;
	height: auto;
	float: left;
	padding-top: 1em;
	text-align: left;
}

.infoTextLeft p{
	color: #fff;
}

.infoTextLeft p:first-child {
	font-size: 1.5em;
}

.infoTextRight {
	width: 60%;
	max-width: 16em;
	height: auto;
	float: right;
	padding-top: 1em;
	text-align: left;
}

.infoTextRight p{
	color: #fff;
}

.infoTextRight p:first-child {
	font-size: 1.5em;
}

.infoImgRight {
	width: 40%;
	max-width: 6em;
	height: 100%;
	float: right;
	text-align: right;
}

.infoImgRight img {
	width: auto;
	height: 100%;
}
*/

.copyright {
	width: 85%;
	color: #ffffff;
	font-size: 0.9em;
	text-align: center;
	margin: 4em auto 0 auto;
}

