html, body, #map_canvas, .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#map_canvas {
	margin-top: 4em;
	position: relative;
	height: 100%;
}

form {
	margin: 0 auto;
}


input[type="text"], input[type="tel"] {
	max-width: 19.5em;
	min-width: 17.5em;
	height: 2em;
	padding: 0.2em 0.4em;
	font-family: 'Open sans';
	border: 1px solid #DDDDDD;
	-webkit-transition: border 250ms ease;
	transition:border 250ms ease;
}

textarea {
	max-width: 20em;
	min-width: 18em;
	max-height: 8em;
	min-height: 8em;
	padding: 0.2em 0.4em;
	font-family: 'Open sans';
	font-size: 1em;
	border: 1px solid #DDDDDD;
	-webkit-transition: border 250ms ease;
	transition:border 250ms ease;
}

input:active, input:focus, textarea:active, textarea:focus, input[type="submit"]:focus, input[type="submit"]:active {
	border: 1px solid #c092c3;
}

input[type="submit"] {
	width: 5em;
	height: 2em;
	padding: 0.2em 0.4em;
	font-family: 'Open sans';
	border: 1px solid #DDDDDD;
	-webkit-transition: border 250ms ease;
	transition:border 250ms ease;
	margin: 0 auto;
}

.h1Kontakt {
	font-size: 1.3em;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #DDD;
	padding-bottom: 0.5em;
	margin: 0px auto 1em auto;
	max-width: 20em;
	color: #A1A1A1;
}

.h4Kontakt {
	font-size: 1.1em;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0px auto 0.5em auto;
	max-width: 20em;
	color: #797979;
}

.h3Kontakt {
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px auto 0.5em auto;
	max-width: 20em;
	color: #666666;
}

.pKontakt {
	font-size: 1.3em;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	margin: 1em auto 0em auto;
	max-width: 20em;
	color: #666666;
}

@media all and (min-width: 750px) {
	#map_canvas {
		margin-top: 0;
	}
}