*{
	margin: 0;
	padding: 0;
}


body {
	font-size: 12px;
	font-family:'Open sans';
	background-color: #ffffff;
	
}

.content {
	width: 100%;
	height: auto;
}

.clear {
	clear: both;
}