.navigationBar {
	width: 	auto;
	height: auto;
}

.navigationLogoHeader{
	width: 	100%;
	height: 4em;
	text-align: center;
	position:   fixed;
	background-color: rgba(255,255,255,1);
	box-shadow: 0 1px 5px #ddd;
}

.contactBox { display: none; }

.logoBox {
	width: 	100%;
	height: 100%;
}
.logoBox img {
	margin-top: 0.2em;
	height: 	90%;
	width: 		auto;
}

.menuImg { 
	float: 		   right; 
	margin-top:   -1.6em;
	height:        2.5em; 
	margin-right:  0.5em; 
	z-index: 	   10;
}

.navigationLinks {
	overflow-y: scroll;
	width: 	  80%;
	height:   100%;
	position: fixed;
	bottom:	  0;
	background-image: url('../images/bg_texture3.jpg');
	transform: translate3d(-100%,0,0);
	-webkit-transform: translate3d(-100%,0,0);
	transition: transform 400ms ease;
	-webkit-transition: -webkit-transform 400ms ease;
	box-shadow:  inset -1.5em 0px 2em -1.5em rgba(0, 0, 0, 0.15)
}

.transitonNavigationLinks {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-indent:   1em;
	line-height:   3.25em;
}

.link:first-child {
	margin-top: 0.5em;
}
.navigationLinks a, .navigationLinks a:link, .navigationLinks a:visited{
	font-size: 		1.56em;
	text-decoration:  none;
	color: rgba(0,0,0,0.7);
}

.navigationLinks a:hover, .navigationLinks a:active, .navigationLinks a:focus {
	color: #B15AA8;
}

 .link:active, .subMenu li:active, .subMenu li:focus,.subMenu2 li:active,.subMenu2 li:focus {
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom:	  1px solid rgba(0, 0, 0, 0);
}

.subMenu, .subMenu2 {
	display: 	 none;
	line-height: 2.5em;
	font-size:   0.9em;
	margin-left: 2.5em;
	list-style:  none;

}

.transitionSubMenu{
	display: block;
}

.subMenu li, .subMenu2 li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.subMenu li:last-child, .subMenu2 li:last-child{
	border-bottom: none;
	margin-bottom: 1.5em;
}

.arrow, .arrow2 {
	height:	 1.7em;
	margin-left:    1em;
	margin-bottom: -0.4em;
	transform:  rotate(0deg);
	-webkit-transform: rotate(0deg);
	transition: transform 200ms ease;
	-webkit-transition: transform 200ms ease;
	opacity: 0.9;
}

.transitionArrow {
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}


@media all and (min-width: 750px){
	

	.logoBox {
		width:  50%;
		height: 100%;
		float:  left;
	}

	
	.contactBox {
		width: 	50%;
		float:right;
		background-color: #fff;
		display: inline-block;
	}

	.navigationLogoHeader {		
		background-color: #fff;
		height: 6em;
	}


	.menuimg {display: none;}

	.navigationLinks {
		width: 100%;
		height: auto;
		text-align: center;
		line-height: 4em;
		bottom: initial;
		bottom:auto;
		background-image: none;
		transition: none;
		-webkit-transition: none;
		background-color: rgba(255,255,255,1);
		box-shadow: none;
		overflow-y:hidden;
		transform:none;
		-webkit-transform:none;
		margin-top: 6em;
		border-bottom: 1px solid #c092c3;
	}

	.link{
		display: inline-block;
		margin-right: 4em;
		width: auto;
		height: auto;
		border: none;
		text-indent: initial;
		line-height: 4em;
	}

	.link:first-child {
		margin-top: 0;
	}
	.link:last-child {
		margin-right: 0;
	}

	.link:hover, .link:active, .link:focus{
		background-color: transparent;
		border-bottom: initial;
	}

	.subMenu, .subMenu2{
		position: fixed;
		background-color: white;
		box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
		margin-left: -8em;
		text-align: left;
		text-indent: 1.5em;
		line-height: 3em;
		width: 25em;
		margin-top: 1em;	
	}

	.subMenu li, .subMenu li:active, .subMenu2 li, .subMenu2 li:hover{
		border:none;
	}

	.subMenu li:hover, .subMenu2 li:hover {
		background-color: #c092c3;
		color: #fff;
	}

	.subMenu li:last-child, .subMenu2 li:last-child{
		margin-bottom: 1em;
	}

	.link:hover > .subMenu{
		display: block;
		
	}

	.link:hover > .subMenu2{
		display: block;
	}

	.link:hover > .arrow {
		transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		opacity: 0.85;
	}


	.link:hover > .arrow2 {
		transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		opacity: 0.85;

	}

	.romb {
		width: 2em;
		height: 2em;
		background-color: #fff;
		margin: auto;
		transform: rotate(45deg);
		margin-top: -1em;
		border-bottom-right-radius: 100em;
	}

	.rombLi:hover {
		background-color: transparent !important;
	}

	.subMenu li:hover > a, .subMenu2 li:hover > a  {
		color: #fff;
	}

}


