.tretmaniList {
	max-width: 85%;
	margin: auto;
	display: border-box;
	padding-top: 8em;
	text-align: center;
}

.tretmaniList li {
	display: inline-block;
	width: 11em;
	margin-bottom: 2em;
}

.tretmaniList li:last-child {
	margin-right: none;
}

.tretmaniList a, .tretmaniList a:visited, .tretmaniList a:link {
	color: #000;
	text-decoration: none;
	transition: color 250ms ease;
	-webkit-transition: color 250ms ease;
	text-transform: uppercase;
}

.tretmaniList a:hover {
	color: #c092c3;
}

.tretmaniList a:active, .tretmaniList a:focus{
	transition:none;
	color: #c092c3;
}

.tretmaniList figure {
	width: auto;
	height: auto;
}

.tretmaniList figcaption {
	text-align: center;
	margin-top: 1em;
}

.imgBox {
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 25px;
	width: 6em;
	height: 6em;
	transition:border 250ms ease;
	-webkit-transition:border 250ms ease;
	margin: auto;
}

.imgBox:hover {
	border: 2px solid #c092c3;
}

.imgBox:active, .imgBox:focus {
	border: 2px solid #c092c3;
	transition:none;
}

@media all and (min-width: 750px) {
	.tretmaniList {
		padding-top: 15em;
		max-width: 85em;
	}

	.tretmaniList li{
		margin-right: 3em;
		margin-bottom: 3em;
	}

	.imgBox {
		width: 10em;
		height: 10em;
	}
}